<main id="main" class="complaint-wrapper">

  <ngx-ui-loader></ngx-ui-loader>

  <!-- Header -->
  <header class="top-header">

    <div class="header-left">

      <button
        type="button"
        class="back-btn"
        (click)="cancel()"
        aria-label="Go back"
      >
        <img
          src="assets/img/back-icon.svg"
          alt="back"
        />
      </button>

      <div class="divider"></div>

      <div class="title-box">

        <div class="title-icon">
          <img
            src="assets/img/Plus.svg"
            alt="add"
          />
        </div>

        <div class="title-text">

          <h4>
            {{
              isViewMode
                ? 'View Document Type'
                : isEditMode
                  ? 'Edit Document Type'
                  : 'Add Document Type'
            }}
          </h4>

          <p>
            Document type details
          </p>

        </div>

      </div>

    </div>


    <!-- Header Actions -->
    <div class="header-actions">

      <ng-container
        *ngIf="isViewMode; else editOrSaveMode"
      >

        <button
          type="button"
          class="btn-save btn-active"
          (click)="enableEditMode()"
        >
          <i class="bi bi-pencil-square"></i>
          <span>Edit</span>
        </button>

      </ng-container>


      <ng-template #editOrSaveMode>

        <button
          type="button"
          class="btn-cancel"
          (click)="cancel()"
        >
          Cancel
        </button>


        <button
          type="submit"
          form="documentTypeForm"
          class="btn-save"
          [ngClass]="{
            'btn-active': documentTypeForm.valid
          }"
        >

          <img
            class="save-icon"
            src="assets/img/Group-Save.svg"
            alt="save"
          />

          <span>
            {{ isEditMode ? 'Update' : 'Save' }}
          </span>

        </button>

      </ng-template>

    </div>

  </header>


  <!-- Main Card -->
  <article class="card complaint-card">

    <!-- Section Header -->
    <div class="section-title">

      <div class="item-icon">

        <img
          src="assets/img/Information.svg"
          alt="info"
        />

      </div>

      <div class="header-content">

        <span class="header-text">
          Document Type Details
        </span>

      </div>

      <div class="required-group">

        <span class="badge-required">

          Required

          <img
            src="assets/img/star.svg"
            class="required-icon"
            alt="required-star"
          />

        </span>

      </div>

    </div>


    <!-- Error -->
    <div
      *ngIf="errorMessage"
      class="alert alert-danger mx-4 mt-3"
    >
      {{ errorMessage }}
    </div>


    <!-- Form -->
    <form
      [formGroup]="documentTypeForm"
      id="documentTypeForm"
      (ngSubmit)="saveDocumentType()"
      class="form-padding-wrap"
    >

      <!-- Document Type Name -->
      <div class="row mb-3">

        <div class="col-md-12 form-group">

          <label for="documentTypeName">

            Document Type Name

            <img
              src="assets/img/star.svg"
              class="required-icon"
              alt="required"
            />

          </label>


          <div
            class="field-wrap"
            style="--field-icon: url('assets/img/category-sub.svg')"
          >

            <input
              id="documentTypeName"
              type="text"
              formControlName="name"
              class="form-controler"
              maxlength="100"
              placeholder="Enter document type name"
              [readonly]="isViewMode"
              (keypress)="allowOnlyAlphabets($event)"
            />

          </div>


          <!-- Validation -->
          <div
            class="text-danger mt-1"
            style="font-size: 11px"
            *ngIf="
              documentTypeForm.get('name')?.invalid &&
              documentTypeForm.get('name')?.touched
            "
          >

            <div
              *ngIf="
                documentTypeForm.get('name')?.errors?.['required']
              "
            >
              Document type name is required.
            </div>

            <div
              *ngIf="
                documentTypeForm.get('name')?.errors?.['minlength']
              "
            >
              Document type name must be at least 2 characters long.
            </div>

            <div
              *ngIf="
                documentTypeForm.get('name')?.errors?.['maxlength']
              "
            >
              Document type name cannot exceed 100 characters.
            </div>

          </div>

        </div>

      </div>


      <!-- Description -->
      <div class="row mb-3">

        <div class="col-md-12 form-group">

          <label for="documentTypeDescription">
            Description
          </label>


          <div
            class="field-wrap"
            style="--field-icon: url('assets/img/category-sub.svg')"
          >

            <textarea
              id="documentTypeDescription"
              formControlName="description"
              class="form-controler"
              rows="4"
              maxlength="500"
              placeholder="Enter document type description"
              [readonly]="isViewMode"
            ></textarea>

          </div>


          <!-- Validation -->
          <div
            class="text-danger mt-1"
            style="font-size: 11px"
            *ngIf="
              documentTypeForm.get('description')?.invalid &&
              documentTypeForm.get('description')?.touched
            "
          >

            <div
              *ngIf="
                documentTypeForm.get('description')?.errors?.['maxlength']
              "
            >
              Description cannot exceed 500 characters.
            </div>

          </div>

        </div>

      </div>


      <!-- Status -->
      <div class="row mb-3">

        <div class="col-md-6 form-group">

          <label for="documentTypeStatus">
            Status
          </label>


          <div
            class="field-wrap"
            style="--field-icon: url('assets/img/category-sub.svg')"
          >

            <select
              id="documentTypeStatus"
              formControlName="status"
              class="form-controler"
              [disabled]="isViewMode"
            >

              <option [ngValue]="1">
                Active
              </option>

              <option [ngValue]="0">
                Inactive
              </option>

            </select>

          </div>

        </div>

      </div>

    </form>

  </article>

</main>