<main id="main" class="complaint-wrapper">

  <!-- ================= HEADER ================= -->

  <header class="top-header">

    <div class="header-left">

      <button
        type="button"
        class="back-btn"
        (click)="goBack()"
        aria-label="Go back"
      >
        <img
          src="assets/img/back-icon.svg"
          alt="Back"
        />
      </button>

      <div class="divider"></div>

      <div class="title-box">

        <div class="title-icon">
          <img
            src="assets/img/Plus.svg"
            alt="Service"
          />
        </div>

        <div class="title-text">

          <h4>
            View Service
          </h4>

          <p>
            Service details
          </p>

        </div>

      </div>

    </div>

  </header>


  <!-- ================= TABS ================= -->

  <div class="service-tabs">

    <div class="service-tab-options">

      <button
        type="button"
        [class.active]="activeTab === 'request'"
        (click)="setTab('request')"
      >
        Service Request
      </button>

      <button
        type="button"
        [class.active]="activeTab === 'submitted'"
        (click)="setTab('submitted')"
      >
        Submitted Documents
      </button>

    </div>

  </div>


  <!-- ================= TAB CONTENT ================= -->

  <div class="service-tab-content">

    <!-- =====================================================
         SERVICE REQUEST
         ===================================================== -->

    <div *ngIf="activeTab === 'request'">

      <app-document-request-list
        [serviceId]="serviceId">
      </app-document-request-list>

    </div>


    <!-- =====================================================
         SUBMITTED DOCUMENTS
         ===================================================== -->

    <div *ngIf="activeTab === 'submitted'">

      <!-- Keep this temporarily until we check
           submitted-documents.component.ts -->

      <p>Submitted Documents content will be added here.</p>

    </div>

  </div>

</main>